@page
@model Solar.Pages.Ekstern.IndexModel
@{
}

   <form method="post">
            <div class="form-group">
                <label asp-for="@Model._User.Username" class="control-label"></label>
                <input asp-for="@Model._User.Username" class="form-control"/>
            </div>

            <div class="form-group">
                <label asp-for="@Model._User.Password" class="control-label"></label>
                <input asp-for="@Model._User.Password" class="form-control" />
                
            </div>

            <div class="btn btn-primary text-light">
                <input type="submit" value="Opret bruger" class="" />
            </div>
    </form>