@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container justify-content-center align-items-center w-100 h-100">
        <h1>hej</h1>
        <div class="d-flex justify-content-around">
            <a class="bg-info text-decoration-none" asp-page="/Ekstern/Opret_bruger">Opret bruger</a>
            <a class="bg-success text-decoration-none" asp-page="/Ekstern/Logind">Log ind</a>
        </div>
        

    </div>
</div>
